* {
    font-family: Roboto, sans-serif;
    /*padding:0;*/
    /*margin:0;*/
}


/*for laptops and pcs*/
@media screen and (min-width: 501px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: inline-block;
        font-size: 60px;
        z-index: 2;
        position: relative;
        left: 1%;
    }

    section {
        margin-bottom: 50px;
        display: inline-flex;
        width: 45%;
        align-items: center;
        flex-direction: column;
    }

    section p {
        margin: 0 auto;
        width: 75%;
    }

    nav {
        width: 40%;
        position: absolute;
        right: 60px;
        top: 65px;
        z-index: 1;
    }

    .nav-links {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        width: 100%;
    }

    .header-img {
        display: flex;
        width: 95%;
        justify-content: space-around;
        margin: 25px auto;
        height: 400px;
        background-color: rgb(225 110 23 / 55%);
        border-radius: 1em;
        padding: 10px;

    }

    footer {
        background-color: rgb(225 110 23 / 55%);
        /*padding: 75px;*/
        width: 90%;
        border-radius: 15px;
        margin: 10px auto;
    }

    img {
        width: 30%;
        margin: 5px;
        border-radius: 100%;
        padding: 10px;
    }

    .nav-links > li > a {
        color: tomato;
        font-size: 25px;
    }

    #social-media-links {
        width: 12%;
        justify-content: stretch;
        display: flex;
    }
    .menu {
        padding: 0;
        width: 100%;
        list-style: none;
        justify-content: space-between;
    }
}

/*for mobile*/
@media screen and (max-width: 500px) {
    .nav-links > li > a {
        width: 100%;
        display: inline-block;
    }

    h1 {
        font-size: 75px;
        text-align: center;
    }

    .nav-links > li {
        text-align: center;
        display: block;
        height: 32px;
        line-height: 32px;
        margin: 10px;
        background: tomato;
        border-radius: 15px;

    }

    .header-img, .header-img img {
        width: 100%;
    }

    .header-img img {
        border-radius: 15px;
    }


    .hidden-on-desktop {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-family: sans-serif;
        height: 32px;
        line-height: 32px;
        margin: 10px auto;
        background: tomato;
        border-radius: 15px;
    }

    .nav-links > li > a {
        color: white;

    }
}

@media screen and (min-width: 501px) and (max-width: 586px) {
    h1 {
        font-size: 40px;
        top: 30px;
    }
}


.nav-links > li {
    list-style-type: none;
}

.nav-links > li > a {
    text-decoration: none;
}

.nav-links {
    padding: 0;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #social-media-links li:last-of-type {
        margin-right: 0;
    }

    #social-media-links .fa {
        font-size: 1.3rem;
        color: tomato;

        &:hover {
            color: darkgrey;
            transition: color 0.3s ease-in;
        }
    }
}

.menu {
    display: flex;
}
